// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/dark';

// Override variables here

@import '~nativescript-theme-core/scss/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling


ActionBar {
    height: 50;
    background-color: #ffffff;
    border-width: 1;
    border-color: transparent;
}

.pl-15 {
  padding-left: 15;
}
.pr-15 {
  padding-right: 15;
}

.title {
    text-align: left;
    padding-left: 16;
}

.drawer-header {
    padding: 50 16 16 16;
    margin-bottom: 16;
    background-color: #EC5151;
    color: #ffffff;
    font-size: 24;
}

.drawer-item {
    padding: 8 16;
    color: #333333;
    font-size: 16;
}

.btn-qr-code {
    height: 50;
    padding: 10 30;
    width: 350;
    border-radius: 10;
    background: #e61f43;
    color: #ffffff;
    font-size: 18;
}

.img-scan {
    height: 150;
    width: 200;
}

.text-homepage {
    font-family: "BebasNeue-Regular";
    text-align: center;
    font-size: 25;
    margin-top: 20;
    height: 75;
    width: 75%;
    color: #EC5151;
    vertical-align: top;
}
.list-result {
    height: 100;
}
.title-list {
  color: #323232;
  font-family: "BebasNeue-Regular";
  font-size: 30;
  margin-left: 15;
  margin-top: 25;
  margin-bottom: 15;
}
.item-list-menu {
  border-radius: 10;
  margin-top: 15;
  margin-bottom: 15;
  background: linear-gradient(to left, #e92424, #EC5151);
  display: flex;
  align-items: center;
}
.menu-title {
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-top: 10;
  font-family: "BebasNeue-Regular";
  font-size: 30;
}
.arrow-list-menu {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: "BebasNeue-Regular";
  font-size: 30;
  text-align: right;
  margin-top: 31%;
}
.img-list-menu {
  height: 100;
}
.img-panier {
  border-radius: 10;
  margin-top: 3;
  margin-bottom: 3;
  padding: 3 2;
  background: linear-gradient(to left, #e92424, #EC5151);
}
